/* .breads__items {
  width: 500px;
} */
.ingredient__item {
  display: flex;
  /* flex: 1; */
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.ingredient__item__link {
  /* height: 100px; */
  display: flex;
  flex-flow: column;
  width: 22rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.ingredient__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.ingredient__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 18px;
  font-weight: 700;
  color: #000;
  background-color: #ecf0f1;
  box-sizing: border-box;
}

.ingredient__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.ingredient__item__img:hover {
  transform: scale(1.1);
}

.ingredient__item__info {
  height: 5rem;
  display: table;
  padding: 20px 20px 20px 20px;
  background-color: #009223;
}

.ingredient__item__text__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.ingredient__item__text {
  text-align: center;
  color: #ffce32;
  font-size: 15px;
  line-height: 24px;
  white-space: pre-wrap;
  font-weight: 1000;
}
.ingredient__item__text.bigger {
  font-size: 18px;
}